<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jegede.ba">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="NEXUS APP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BA2Activity" />
        <activity android:name=".BA3Activity" />
        <activity android:name=".BA4Activity" />
        <activity android:name=".BA5Activity" />
        <activity android:name=".BA6Activity"></activity>
    </application>

</manifest>